body {
    height: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

button, input, optgroup, select, textarea, #map-control {
    margin-bottom: 20px;
}

#event-info {
    background-color: #ecedef;
    background-image: url("/Content/Theme/images/footer-bg.jpg");
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding: 95px 0 90px;
    overflow: hidden;
}

    #event-info .item img {
        display: inline-block;
        width: 300px;
        height: auto;
        border-radius: 5px;
        background-color: #c5c8ce;
        padding: 2px;
        margin-bottom: 30px;
    }

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

/*Register*/
#form-content {
    padding-top: 60px;
}

#contact-section h2, label {
    text-transform: inherit;
    color: #373737;
}

/*Login*/
#socialLoginForm {
    padding-top: 60px;
}

/*Shopping Cart*/
#shopping-cart {
  background-color: #C34C39;
  background-image: url("../images/event-bg.jpg");
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}

#shopping-cart .about-contentn{
    width: 100%;
}

table, h2, div, p, span{
    color: #373737;
}

.main-nav a span.badge{
    position: absolute;
    top: 23px;
    left: 40px;
    padding: 3px 6px;
    color: #ffffff;
}

.main-nav.fixed-menu a span.badge{
    position: absolute;
    top: 8px;
    left: 42px;
    padding: 3px 6px;
    color: #ffffff;
}

.badge-green, .label-green{
        background-color: #488c6c
}

.badge-red, .label-red {
    background-color: red;
}

a i{
    font-size: 25px
}

/*Event Details*/
#event-detatils #explore .container h1{
    color : white;
}

#event-detatils #explore .container  h2{
    color : white;
}

#event-detatils #explore .container p{
    color : white;
}

/*Footer*/
#footer p{
    color: white
}