`@model IEnumerable<HttpPostedFile>

<div id="image-container">
    <div class="row" data-id="image-file-uploade">
        <div class="form-group col-md-offset-4">
            <i data-id="remove" class="fa fa-times fa-fw"></i>
            <div class="fileUpload btn btn-primary col-md-2">
                <i class="fa fa-upload"></i>&nbsp;<span>Upload</span>
                <input type="file" name="Files" id="file1" class="upload" />
            </div>
            <div class="text-center mbl col-md-4">
                <img id="blah2" src="#" alt="your image" class="img-responsive" />
            </div>
        </div>
    </div>
</div>
