@model  EventSystem.Web.Models.Places.GetCreatePlaceViewModel
@{
    ViewBag.Title = "Create New Place";
}

@using (Html.BeginForm("Create", "Places"))
{
    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.Cities)
        </div>
        <div class="col-md-6">
            @Html.DropDownList("Cities", Model.Cities, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            @Html.LabelFor(x => x.Countries)
        </div>
        <div class="col-md-6">
            @Html.DropDownList("Countries", Model.Countries, new { @class="form-control"})
        </div>
    </div>

        <input type="submit" class="btn btn-primary" value="Create" />
}

