@model ShoppingCartViewModel
@{
    ViewBag.Title = "Cart";
}

<section id="about">
    <div class="about-contentn" id="main-content">
        <div id="contact-section">
            <div id="form-content" class="col-md-6 col-md-offset-3">
                <h2>Shopping cart</h2>
                <hr />
              
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script src="~/Scripts/Account/autoResizeDiv.js"></script>
}




