@model string
<div class="form-group">
    <div class="col-md-2 col-md-offset-2">
        @Html.LabelFor(m => m)
    </div>
    <div class="col-md-6">
        @Html.DropDownListFor(m => m, (ViewBag.Places as IEnumerable<SelectListItem>).ForPublicEventsDropDown(), new { @class = "form-control" })
    </div>
</div>

