@helper MenuItem(string title, string link, string icon)
{
    <li>
        <a href="@link">
            <i class="fa @icon">
            </i><span class="menu-title">@title</span>
        </a>

    </li>
}
